body {
    background-color: #dae9f4;
}

.header {
    background-color: #7f9eb2;
    text-align: center;
    color: white;
    padding: 15px;

}

footer {
    background-color: #7f9eb2;
    color: white;
    text-align: center;
    padding: 3px;
}

#person {
    position: relative;
    width: 18%;
    border-radius: 200px;
}

.content {
    float: right;
    width: 600px;
}

.ig {
    width: 8%;
    border-radius: 20px;
}

.head {
    background-color: #7f9eb2;
    text-align: center;
    color: white;
    border-radius: 13px;
}

.card1 {
    position: relative;
    left: 25%;
    background-color: #274c5e;
    text-align: center;
    border-radius: 13px;
    padding: 7px;
    color: white;
    width: 50%;
}


.school {
    position: relative;
    left: 5%;
    text-align: center;
    background-color: #b3d2e8;
    color: #6b7e8b;
    width: 90%;
    border-radius: 13px;
}

.school:hover {
    color: white;
    background-color: #274c5e;
    width: 90%;
}

/*技能*/
.skill {
    position: relative;
    left: 5%;
    float: left;
    text-align: center;
    background-color: #b3d2e8;
    color: #6b7e8b;
    width: 90%;
}

.skill2 {
    width: 160px;
}

.skills {
    padding-right: 50px;
    border-right: dotted 2px #274c5e;
    margin-right: 30px;
}

article {
    float: left;
}

aside {
    float: right;
}

/*進度條*/
.container {
    width: 675px;
    background-color: lightgray;
    border-radius: 20px;
}


.P {
    width: 70%;
    background-color: #b3d2e8;
    padding-right: 6px;
    border-radius: 20px;
}

.M {
    width: 75%;
    background-color: #b3d2e8;
    padding-right: 6px;
    border-radius: 20px;

}

.HR {
    width: 90%;
    background-color: #b3d2e8;
    padding-right: 6px;
    border-radius: 20px;
}

.R {
    width: 70%;
    background-color: #b3d2e8;
    padding-right: 6px;
    border-radius: 20px;
}

.F {
    width: 85%;
    background-color: #b3d2e8;
    padding-right: 6px;
    border-radius: 20px;

}


/*社團*/
.club {
    border: 8px double #274c5e;
    width: 90%;
    height: 250px;
    position: relative;
    left: 5%;
    border-radius: 30px;
    background-color: #b3d2e8;
}

.text {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.text2 {
    font-size: 18px;
    text-align: center;
}

.guitar {
    width: 24%;
    float: left;

}

.guitar:hover {
    width: 27%;
}

#guitar1 {
    width: 40%;
    margin-left: 30%;
}

.art {
    width: 24%;
    float: left;
}

.art:hover {
    width: 27%;
}

#art1 {
    width: 40%;
    margin-left: 30%;
}

.photo {
    width: 24%;
    float: left;
}

.photo:hover {
    width: 27%;
}

#photo1 {
    width: 40%;
    margin-left: 30%;
}


.dorm {
    width: 24%;
    float: left;
}

.dorm:hover {
    width: 27%;
}

#dorm1 {
    width: 40%;
    margin-left: 30%;
}

/*工作*/
.jeans {
    float: left;
}

#jeans1 {
    width: 40%;
    margin-left: 30%;
}

.pt {
    float: right;
}

#pt1 {
    width: 40%;
    margin-left: 30%;
}

/*專案*/
.project {
    float: left;
    width: 55%;
}

.project2 {
    color: #274c5e;
    font-family: 標楷體字型;
}

#project1 {
    width: 40%;
    float: right;
    border-radius: 30px;
}

.clearfix {
    clear: both;
}